html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #11173f;
    height: 300px;
    margin-bottom: 100px;
}

.user img {
    width: 160px;
    padding: 10px;
}

.user {
    width: 180px;
    height: 180px;
    align-self: center;
}

.name {
    padding-right: 5%;
    padding-top: 10px;
    font-family: system-ui;
    font-weight: 900;
    font-size: 1.1em;
    align-self: center;
    margin-left: 0px;
    color: white;
    width: 50%;
}

.name h2 {
    margin-bottom: 10px;
}

.phone img {
    width: 22px;
}

.mail img {
    width: 22px;
}

span {
    font-weight: 500;
    font-size: 0.9em;
}

.etoiles {
    padding: 7px;
}

.etoiles img {
    width: 26px;
}

.mail {
    padding-bottom: 5px;
}

.submit {
    width: 30%;
    align-self: center;
}

.submit input {
    font-family: system-ui;
    font-weight: 800;
    padding: 12px;
    color: white;
    border: 2px solid;
    width: 250px;
    margin-top: 20px;
    font-size: 1.1em;
}

input#ref {
    background-color: transparent;
}


#ref:hover {
    transform: scale(1.06);
    background-color: #bdbdbd;
    transition: ease-in-out;
}

/* ----------------------------------------------SWIPER----------------------------------------------------------------------------------- */
.swiper {
    width: 1400px;
    height: 500px;
    margin-top: 20px;
}

.swiper-slide {
    background: #fff;
    border-radius: 30px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;


}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: 10px;
    right: auto;


}


/*___________________________________________________________________________________________________________________________________ */
.image-content {
    height: 180px;
    width: 100%;
    position: relative;
}

.back {
    height: 130px;
    width: 100%;
    background-color: #bbdefb;
    position: absolute;
    border-radius: 30px 30px 0px 0px;
}

.image {
    margin-left: 31%;
    margin-top: 35px;
    height: 130px;
    width: 130px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #1565c0;
    box-sizing: border-box;
    padding: 2px;
}

.text-content h3 {
    margin: 0px;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 1.5em;
    padding-right: 10px;
    color: #11114b;
}

.text-content h4 {
    margin: 5px;

    font-family: system-ui;
    font-size: 1.1em;
    color: #1e88e5;
    display: flex;
    justify-content: center;
}

.text-content p {
    padding: 0px 20px;
    margin: 30px;
    font-family: system-ui;
    font-weight: 500;
    font-size: 0.93em;
    text-align: center;
    color: #000000a1;

}

.stars {
    padding-left: 75px;
}

.stars img {
    width: 32px;
}

img.desactive {
    opacity: 0.3;
}

/* --------------------------FORMULAIRE--------------------------------------------- */
.formulaire {
    width: 100%;
    height: auto;
    margin-top: 70px;
    background-color: #0f1642;
    display: flex;
    justify-content: center;
}

.formbox {
    width: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
}

.choix {
    display: flex;
}

.choix div {
    font-family: system-ui;
    font-size: 1.4em;
    font-weight: 750;
    box-sizing: border-box;
    display: inline-block;
    width: 273px;
    height: 40px;
    text-align: center;
    color: #1f2b75;
    cursor: pointer;
}

.mes {
    border-radius: 10px 0px 10px;
}

.com {
    border-radius: 0px 10px 0px 10px;
}

.desact {
    background-color: #eeeeee;


}

.for {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
}

.for input[type="text"] {
    padding: 15px;
    margin: 10px 15px;
}

textarea {
    padding: 10px;
    margin: 15px 15px;
}

input.exp {
    margin: 20px 15px;
    height: 45px;
    font-family: system-ui;
    font-weight: 900;
    font-size: 1.1em;
    color: white;
    background-color: #2196f3;
    border: 1px solid;
    border-radius: 8px;
}

input.exp:hover {
    transform: scale(1.05);
}

.msg {
    position: fixed;
    right: 40%;
    top: 10px;

    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: system-ui;
    font-weight: 500;
    color: #7cb342;
    border: 3px solid;
    border-radius: 5px;
    height: 80 px;

}